@page
@model AuctionSystem.Pages.AdminHome.AdminHomeModel
@{
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between justify-content-sm-end">
            <ul class="navbar-nav flex-grow-3">

                <li class="nav-item">
                    <a class="nav-link text-dark"  asp-page="/AdminHome/Members">Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/AdminHome/AdminProduct/AdminProduct">ADMIN PRODUCT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/AdminHome/AddProducts/AddProduct"> ADD PRODUCT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="">Hotel Details</a>
                </li>
            </ul>
        </div>
    </div>
</nav>